<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/home.css">
    <title>Conteúdos</title>
</head>
<body>
    <header>
        <h1>Postagens favoritas</h1>
    </header>
    <body>
        <section class="cards">

            {% for item in items %}
            <div class="card" id="{{item.id}}">
                <div id="card-image-conteiner {{'featured' if item.featured }} ">
                    <img src="https://blog.rocketseat.com.br/content/images/2020/10/{{item.id}}.jpg" alt="Imagem de {{item.title}}">
                    {% if item.featured %}
                        <div class="featured">Featured</div>
                    {% endif %}
                </div>

                <div id="card-title">
                    <h1>{{item.title}}</h1>
                </div>

                <div id="card-content">
                    <p>{{item.title}}</p>
                    <span class="material-icons">
                        schedule
                        </span>
                        <p>{{item.time}}</p>
                </div>             
            </div>
            {% endfor %}
            
        </section>

        <div class="modal-overlay active">
            <div class="modal">
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>

                <a class="maximize-modal">
                    <i class="material-icons">open_in_full</i>
                </a>

                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
            
        </div>

        <footer>
            <img src="/image/instagram.jpeg" alt="imagem">
            <a href="https://rocketseat.com.br/">Instagram</a>
            <img src="/image/facebook.png" alt="imagem">
            <a href="https://pt-br.facebook.com/rocketseat/">Facebook</a>
            <img src="/image/youtube.png" alt="imagem">
            <a href="https://www.youtube.com/channel/UCSfwM5u0Kce6Cce8_S72olg">Youtube</a>
        </footer>

        <script src="/script.js"></script>
    </body>
</body>
</html>