<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/home.css">
    <title>Conteúdos</title>
</head>
<body>
    <header>
        <h1>Postagens favoritas</h1>
    </header>
    <body>
        <section class="cards">
            <div class="card" id="dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida">
                <div id="card-image-conteiner">
                    <img src="https://blog.rocketseat.com.br/content/images/2020/10/dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida.jpg" alt="Imagem">
                </div>

                <div id="card-title">
                    <h1>Dark Mode com CSS — mudando a aparência do Blog de maneira simples e rápida</h1>
                </div>

                <div id="card-content">
                    <p>Por Thiago Marinho</p>
                    <span class="material-icons">
                        schedule
                        </span>
                        <p>3 MIN</p>
                </div>             
            </div>

            <div class="card" id="construindo-um-app-com-mapas-usando-react-native-maps-e-mapbox">
                <div id="card-image-conteiner">
                    <img src="https://blog.rocketseat.com.br/content/images/2020/10/teste.jpg" alt="Imagem">
                </div>

                <div id="card-title">
                    <h1>Mapas com React usando Leaflet</h1>
                </div>

                <div id="card-content">
                    <p>Por Thiago Marinho</p>
                    <span class="material-icons">
                        schedule
                        </span>
                        <p>8 MIN</p>
                </div>             
            </div>

            <div class="card" id="como-renomear-varios-arquivos-de-uma-vez-usando-o-terminal">
                <div id="card-image-conteiner">
                    <img src="https://blog.rocketseat.com.br/content/images/2020/11/thumb-como-renomear-varios-arquivos-de-uma-vez-usando-o-terminal.jpg" alt="Imagem">
                </div>

                <div id="card-title">
                    <h1>Como renomear vários arquivos de uma vez usando o terminal</h1>
                </div>

                <div id="card-content">
                    <p>Por Thiago Marinho</p>
                    <span class="material-icons">
                        schedule
                        </span>
                        <p>2 MIN</p>
                </div>             
            </div>
        </section>

        <div class="modal-overlay active">
            <div class="modal">
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>

                <a class="maximize-modal">
                    <i class="material-icons">open_in_full</i>
                </a>

                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
            
        </div>

        <script src="/scripts/script.js"></script>
    </body>
</body>
</html>