{% extends "layout.njk" %}

{% block error %} 
        <div class="error">
            <img src="/image/erro404.jpg" alt="Imagem do erro 404">
            <h1>Página não encontrada</h1>
            <h2>Erro 404</h2>
                <div class="button">
                    <a href="/">Voltar Home</a>
                </div>
        </div>
        
{% endblock %}