{% extends "layout.njk" %}

    {% block body %}
        <header>
            <div id="image">
                <img src="/image/logo_rocketseat.png" alt="Logo">
            </div>

            <div class="links">
                <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
                <a href="mailto:oi@rocketseat.com.br">Email</a>
                <a href="tel:+5547992078767">Telefone</a>
                <a href="/">Sobre</a>
                <a href="/home">Conteúdos</a>
            </div>
        </header>
        
        <main>
            <div class="image-logo">
                <img src="{{sobre.image_url}}" alt="Imagem">
            </div>

            <div class="description">
                <h1>{{sobre.titulo}}</h1>
                <p>{{sobre.description}}</p>
            </div>
            
            <div class="tecnologias">
                
                    <ul>
                        <div id="javascript">
                            <img src="/image/javascript.png" alt="Imagen JavaScript">
                            <li>JavaScript</li>
                        </div>
                        <div id="html">
                            <img src="/image/1200px-HTML5_logo_and_wordmark.svg.png" alt="Imagen HTML5">
                            <li>HTML5</li> 
                        </div>
                        <div id="css">
                            <img src="/image/CSS3_logo_and_wordmark.svg.png" alt="Imagen CSS3">
                            <li>CSS3</li>
                        </div>
                        
                    </ul>
                
            </div>
        </main>

        <footer>
            {% for link in sobre.links %}
                <img src="{{link.logo}}" alt="imagem">
                <a href="{{link.url}}">{{link.name}}</a>
            {% endfor %}
        </footer>
    {% endblock %}

