{% extends "layout.njk" %}

    {% block header %}
    <header>
        <div id="image">
            <img src="/image/logo_rocketseat.png" alt="Logo">
        </div>

        <div class="links">
            <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5547992078767">Telefone</a>
            <a href="/">Sobre</a>
            <a href="/home">Conteúdos</a>
        </div>
    </header>
    {% endblock %}

    {% block main %}
    <main>
        <div class="image-logo">
            <img src="/image/Microsoft.VisualStudio.Services.Icons.Default" alt="Imagem">
        </div>

        <div class="description">
            <h1>Rocketseat</h1>
            <p>Evolua rápido como a tecnologia.</p>
        </div>
        
        <div class="tecnologias">
            
                <ul>
                    <div id="javascript">
                        <img src="/image/javascript.png" alt="Imagen JavaScript">
                        <li>JavaScript</li>
                    </div>
                    <div id="html">
                        <img src="/image/1200px-HTML5_logo_and_wordmark.svg.png" alt="Imagen HTML5">
                        <li>HTML5</li> 
                    </div>
                    <div id="css">
                        <img src="/image/CSS3_logo_and_wordmark.svg.png" alt="Imagen CSS3">
                        <li>CSS3</li>
                    </div>
                       
                </ul>
            
        </div>
    </main>
    {% endblock %}

    {% block footer %}
    <footer>
        <img src="/image/instagram.jpeg" alt="imagem">
        <a href="https://rocketseat.com.br/">Instagram</a>
        <img src="/image/facebook.png" alt="imagem">
        <a href="https://pt-br.facebook.com/rocketseat/">Facebook</a>
        <img src="/image/youtube.png" alt="imagem">
        <a href="https://www.youtube.com/channel/UCSfwM5u0Kce6Cce8_S72olg">Youtube</a>
    </footer>
    {% endblock %}

