:root {
    --color-white: #e1e1e6;
    --color-blackFundo: #121214;
    --color-blackHeader: #202024;
    --color-roxoRocket: #8257e6;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: var(--color-blackFundo);
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background: var(--color-blackHeader);
    padding: 30px;
    display: flex;
    align-items: center;
}

header img {
    width: 180px;
    height: 50px;
    margin-right: 200px;
}


header a{
    text-decoration: none;
    font-size: 18px;
    color: var(--color-white);
    font-weight: bold;
    cursor: pointer;
    padding: 30px;
}

header a:hover {
    color: white;
    transition: color 200ms;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-logo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid var(--color-roxoRocket);
    margin-top: 60px;
}

.description h1 {
    color: var(--color-white);
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}

.description p {
    color: var(--color-white);
    text-align: center;
    margin-top: 15px;
    font-weight: normal;
}

.tecnologias {
    width: 100%;
    color: var(--color-white);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tecnologias #javascript {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.tecnologias #html {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.tecnologias #css {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.tecnologias img {
    width: 50px;
    height: 50px;
}    

.tecnologias li {
    margin: 10px;
    list-style: none;
}

footer {
    width: auto;
    height: 70px;
    margin-top: 80px;
    padding: 20px;
    background: var(--color-blackHeader);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 20px;
    height: 20px;
    margin: 0 30px;
}

footer a {
    text-decoration: none;
    font-size: 18px;
    color: var(--color-white);
}

footer a:hover {
    color: white;
    cursor: pointer;
    transition: color 200ms;
}